<%- include("partials/header"); -%>    

<h1> About </h1>
<p> <%=aboutContent_key%> </p>
<p>
 First, when people mention Erebara, immediately think of Erebara Stone.
 Erebara Stone is located near Erebara and can be reached within a distance of 5 km.
 It is a giant rock that stands above Erebara. The hike to the stone is around 1-2 h.
 <br><br>
 Secondly, Erebara has a beautiful, calm and clean nature that every person would like to live there.
 <br><br>
 Thirdly, Erebara consists of about 120 houses, where some of them are ancient and the rest are modern. A place that gives a beautiful diversity to the village.
 <br><br>
 The fourth, as far as the relief, as can be seen on the maps, is made up of an amazing combination of plains, hills, mountains and valleys.
 <br><br>
 Fifth, as we know that people of Dibra are hospitable, especially the people of Erebara. Also, they are very hardworking people and get along very well with each other. It is worth mentioning the fact that if you see some of them somewhere in a cafe, restaurant, or somewhere else, you will always find them together!
 <br><br>
 Finally, it is worth mentioning that the village is producing generations of intellectuals who are contributing to Albania and the whole world. And we are proud of them!
</p>

<%- include("partials/footer"); -%>
