<%- include("partials/header"); -%>

<h1> Contact </h1>
<p> <%=contactContent_key%> </p>

 <a href="https://limitless-dawn-93440.herokuapp.com"> Website </a>
 <br>  <br>
 <a href="https://www.facebook.com/erebare.al"> Facebook </a>
 <br>  <br>
 <a href="https://www.instagram.com/erebare"> Instagram </a>

<%- include("partials/footer"); -%>   
